/* Complete the CSS styling according to the provided design */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  background-image: url("images/table.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
 
 button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 4px 2px;
 }